# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
ENV/

# Build / Packaging
dist/
build/
*.egg-info/

# PyInstaller
*.spec

# Project output
project_code_map_output.txt

# uv
uv.lock
