# Changelog

## {{$version}} ({{#if $date}}{{$date}}{{else}}{{date "YYYY-MM-DD"}}{{/if}})

{{#each commits}}
### {{$type}}: {{$message}} ({{$hash}})
{{/each}}

---

{{#if $nextVersion}}
## {{$nextVersion}}
{{/if}}